<!DOCTYPE html>
<html>
  <head>
    <title>Tmtg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  </head>

  <body class="container">
  <h1>TMTG</h1>
    <%= yield %>
  </body>
</html>